.container {
    padding: 20px;
}

.flowchart {
    height: 90vh;
    overflow: hidden;
    border: 1px solid black;
    position: relative;
}

.flowchart .button-list {
    position: fixed;
    display: none;
    width: 180px;
    z-index: 3
}

.flowchart .button-list .btn-container,
.toggle-button-list .btn-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.flowchart .button-list .btn-container button,
.toggle-button-list .btn-container button {
    margin: 0;
    width: 100%;
}